{% extends "base.html" %}
{% load widget_tweaks %}
{% block style %}
<style>
div {
  width: 800px;
  margin: auto;
  margin-top: 30px;
}
div.blog {
  /* background-color: lightgrey;
  border: 2px solid black; */
  padding: 50px;
}
div.comment {
  background-color: lightgrey;
  border: 2px solid black;
  padding: 50px;
  width: 700px;
}
.checked {
  color: orange;
}
h2.font-lobster {
  font-family: "Lobster", serif;
  color: rgb(34, 82, 121);
}
</style>
{% endblock %}

{% block content %}
<div>
<div class="blog">
    <h2 class="font-lobster">{{ blog.blog_title }}</h2></br>
    {{ blog.blog_text }}</br></br>
    {{ blog.updated_on }}&nbsp;{{ blog.user }}
</div></br>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        {% endfor %}</br>
       
        </br><button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endif %}
    {% for comment in blog.sorted_comment_set %}
        <div class="comment">
            {{ comment.comment_text }}</br>
            {% for star in star_num %}
                <span class="fa fa-star {% if star < comment.user_rating %}checked{% endif %}"></span>
            {% endfor %}</br>
            {{ comment.user }}</br>
            {{ comment.created_on }}
        </div></br>
    {% endfor %}
</div>
{% endblock %}