{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
div {
  width: 800px;
  /* margin: auto; */
  margin-top: 30px;
}
div.blog {
  /* background-color: lightgrey;
  border: 2px solid black; */
  padding: 50px;
}

h2.font-lobster {
  font-family: "Lobster", serif;
  color: steelblue;
}
p.date-time {
  color: grey
}
</style>
{% endblock %}

{% block content %}
<div class="col-md-8">
{% for blog in blog_list %}
    <div class=" blog">
      
        <a  href="{% url 'detail' blog.id%}"><h2 class="font-lobster">{{ blog.blog_title }}</h2></a>
        <p class="date-time">{{ blog.updated_on }}&nbsp;<a href="{% url 'profile' blog.user %}">{{ blog.user }}</a></p></br>
        <p>{{ blog.blog_text }}</p></br></br>
    
    {% if user == blog.user %}
      <p align="right"><a href="{% url 'edit' blog.id %}">edit</a></p>
      <p align="right"><a href="{% url 'delete' blog.id %}">delete</a></p>
    {% endif %}
    <p>{{ blog.comment_set.all|length }} comment</p>
    </div></br>
    
{% endfor %}
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">first</a></li>
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
          <li class="page-item {% if page_obj.number == page %}active{% endif %}">
              <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">next</a></li>
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">last</a></li>
        {% endif %}
</ul>
</nav>
</div>
{% endblock content%}