<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
div.default {
  width: 800px;
  margin: auto;
  margin-top: 30px;
}
div.blog {
  background-color: lightgrey;
  border: 2px solid black;
  padding: 50px;
}
</style>
<div class="default">
<h2>Myblog</h2>

{% if user.is_authenticated %}
    <p>Welcome, <a href="{% url 'profile' user%}">{{ user.username }}</a>. Thanks for logging in.</p>
    <a href="{% url 'new_blog'%}">New blog</a></br>
    <a href="/accounts/logout/">Log out</a>
    <a href=""></a>
{% else %}
    <p>Welcome, new user. Please <a href="/accounts/login/">log in</a>.</p>
{% endif %}



{% for blog in blog_list %}
    <div class="blog">
    <a href="{% url 'detail' blog.id%}"><h4>{{ blog.blog_title }}</h4></a></br>
    {{ blog.blog_text }}</br></br>
    {{ blog.updated_on }}&nbsp;<a href="{% url 'profile' blog.user %}">{{ blog.user }}</a>
    {% if user == blog.user %}
      <p align="right"><a href="{% url 'edit' blog.id %}">edit</a></p>
      <p align="right"><a href="{% url 'delete' blog.id %}">delete</a></p>
    {% endif %}
    <p>{{ blog.comment_set.all|length }} comment</p>
    </div></br>
{% endfor %}
</div>